@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#1F2833;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-width: 100vh;
    margin: 0;
}

.container {
    margin: 0px 20px;
}

li {
    padding: 5px;
    font-size: 18px;
    margin-left: 2%;
    color: #45A29E;
}

li a {
    text-decoration: none;
    color: #45A29E;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

h1{
    color:#45A29E;
}

a {
    text-decoration: none;
}